<section class="container-lg bg-main-light rounded-2 shadow py-4 px-3 my-4">
    @if (cartInfo.numOfCartItems!=0) {
    
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class=" mb-5 text-main h4 fw-bolder">Cart Shop</h1>
                <p class="fw-bold">Total price : <span class="text-main">{{cartInfo.data?.totalCartPrice | currency :'GBP'}}</span></p>
            </div>
            <div>
                <button [routerLink]="['/orders',cartInfo.cartId]" class="mb-5 d-block ms-auto btn btn-primary px-3">Check Out</button>
                <p>total number of items: <span class="text-main">{{cartInfo.numOfCartItems}}</span></p>
            </div>
        </div>
        @for (item of cartInfo.data?.products; track item.product.id) {
            <div class="row align-items-center g-3 mt-2 py-1 border-bottom border-1">
                <div class="col-5 col-lg-2">
                    <div>
                        <img [src]="item.product.imageCover" [alt]="item.product.title | trimText : 2">
                    </div>
                </div>
                <div class="col-6 col-lg-10">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h2 class="h6 fw-bolder">{{item.product.title | trimText : 2}}</h2>
                            <span class="text-main">{{item.price | currency : 'GBP'}}</span><br>
                            <button (click)="removeItem(item.product.id)" class="btn btn-outline-danger mt-5">
                                <i class="fa-solid fa-trash"></i>
                                Remove
                            </button>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <span (click)="decCount(item.product.id,item.count)" class="cr">
                                <i class="fa-solid fa-circle-minus fa-xl" style="color: #B197FC;"></i>
                            </span>
                            <span>{{item.count}}</span>
                            <span (click)="incCount(item.product.id,item.count)" class="cr">
                                <i class="fa-solid fa-circle-plus fa-xl" style="color: #B197FC;"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    
        <button (click)="clearCart()" class="btn btn-danger px-4 py-2 d-block ms-auto my-4">Clear Cart</button>
    }@else {
        <h1 class="fw-bolder text-danger text-uppercase text-center">NO Cart Item</h1>
    }
</section>