<section class="w-75 mx-auto my-1">

    <h1 class="h3 fw-medium text-main">Forget Password</h1>
    @switch (step) {
        @case (1) {
            <form [formGroup]="verifyEmailForm" (ngSubmit)="submitVerifyEmailForm()">
        
        
                <div class="mt-2">
                    <label for="email">email :</label>
                    <input formControlName="email" id="email" [ngClass]="{
                        'is-invalid': 
                            verifyEmailForm.get('email')?.errors && (verifyEmailForm.get('email')?.touched || verifyEmailForm.get('email')?.dirty),
                        'is-valid': !verifyEmailForm.get('email')?.errors
        
                    }" class="form-control" type="text">
        
                    @if (verifyEmailForm.get('email')?.errors && verifyEmailForm.get('email')?.touched) {
        
                    <div class="alert alert-danger mt-1">
                        @if (verifyEmailForm.get('email')?.getError('required')) {
        
                        <p class="m-0">email is Required</p>
                        }
                        @else if (verifyEmailForm.get('email')?.getError('email')) {
                        <p class="m-0">Enter Valid Email </p>
                        }
                    </div>
                    }
        
                    @else{
                        @if (msgError) {
                            <div class="alert mt-1 alert-danger">
                                <p class="m-0">{{msgError}}</p>    
                            </div>
                        }
                        @else if (msgSuccess) {
                            <div class="alert mt-1 alert-info">
                                <p class="m-0">{{msgSuccess}}</p>    
                            </div>
                        }
                    }
        
                </div>
        
        
        
                <button type="submit" [disabled]="verifyEmailForm.invalid || isLoading || msgSuccess"
                    class="btn-main px-4 mt-3">
                    verifyEmail
                    @if(isLoading){
                    <i class="fas fa-spin fa-spinner"></i>
                    }
                </button>
        
            </form>
        }
        @case (2) {


            <form [formGroup]="verifyCodeForm" (ngSubmit)="submitVerifyCodeForm()">
        
        
        
                <div class="mt-2">
                    <label for="resetCode">Reset Code :</label>
                    <input formControlName="resetCode" id="resetCode" [ngClass]="{
                        'is-invalid': verifyCodeForm.get('resetCode')?.errors && (verifyCodeForm.get('resetCode')?.touched || verifyCodeForm.get('resetCode')?.dirty),
                        'is-valid': !verifyCodeForm.get('resetCode')?.errors
        
                    }" class="form-control" type="text">
        
                    @if (verifyCodeForm.get('resetCode')?.errors && verifyCodeForm.get('resetCode')?.touched) {
        
                    <div class="alert alert-danger mt-1">
                        @if (verifyCodeForm.get('resetCode')?.getError('required')) {
        
                        <p class="m-0">resetCode is Required</p>
                        }
                        @else if (verifyCodeForm.get('resetCode')?.getError('pattern')) {
        
                        <p class="m-0">
                            Reset Code must be 6 Numbers
                        </p>
                        }
        
                    </div>
        
                    }
                    @else{
                        @if (msgError) {
                            <div class="alert mt-1 alert-danger">
                                <p class="m-0">{{msgError}}</p>    
                            </div>
                        }
                        @else if (msgSuccess) {
                            <div class="alert mt-1 alert-info">
                                <p class="m-0">{{msgSuccess}}</p>    
                            </div>
                        }
                    }
        
                </div>
        
        
        
                <button type="submit" [disabled]="verifyCodeForm.invalid || isLoading || msgSuccess" class="btn-main px-4 mt-3">
                    Verify Code
                    @if(isLoading){
                    <i class="fas fa-spin fa-spinner"></i>
                    }
                </button>
        
                
        
            </form>

        }
        @case (3) {
            <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPasswordForm()">
                <div class="mt-2">
                    <label for="email">email :</label>
                    <input formControlName="email" id="email" [ngClass]="{
                        'is-invalid': 
                            newPasswordForm.get('email')?.errors && (newPasswordForm.get('email')?.touched || newPasswordForm.get('email')?.dirty),
                        'is-valid': !newPasswordForm.get('email')?.errors
        
                    }" class="form-control" type="email">
        
                    @if (newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched) {
        
                    <div class="alert alert-danger mt-1">
                        @if (verifyEmailForm.get('email')?.getError('required')) {
        
                        <p class="m-0">email is Required</p>
                        }
                        @else if (verifyEmailForm.get('email')?.getError('email')) {
                        <p class="m-0">Enter Valid Email </p>
                        }
                    </div>
                    }
        
                </div>
                <div class="mt-2">
                    <label for="newPassword">newPassword :</label>
                    <input formControlName="newPassword" id="newPassword" [ngClass]="{
                        'is-invalid': newPasswordForm.get('newPassword')?.errors && (newPasswordForm.get('newPassword')?.touched || newPasswordForm.get('newPassword')?.dirty),
                        'is-valid': !newPasswordForm.get('newPassword')?.errors
        
                    }" class="form-control" type="text">
        
                    @if (newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
        
                    <div class="alert alert-danger mt-1">
                        @if (newPasswordForm.get('newPassword')?.getError('required')) {
        
                        <p class="m-0">password is Required</p>
                        }
                        @else if (newPasswordForm.get('newPassword')?.getError('pattern')) {
        
                        <p class="m-0">
                            * Start with a letter (either uppercase or lowercase). <br>
                            * Be between 6 and 9 characters in total. <br>
                            * Can only contain letters (A-Z or a-z) and numbers (0-9) <br>
                        </p>
                        }
        
                    </div>
        
                    
                }
            </div>
            <!-- @if(!newPasswordForm.get('email')?.dirty && !newPasswordForm.get('newPassword')?.dirty){} -->
                @if (msgError) {
                    <div class="alert mt-1 alert-danger">
                        <p class="m-0">{{msgError}}</p>    
                    </div>
                }
                @else if (msgSuccess) {
                    <div class="alert mt-1 alert-info">
                        <p class="m-0">{{msgSuccess}}</p>    
                    </div>
                }
        
        
        
        
                <button type="submit" [disabled]="newPasswordForm.invalid || isLoading || msgSuccess" 
                class="btn-main px-4 mt-3">
                    newPassword
                    @if(isLoading){
                    <i class="fas fa-spin fa-spinner"></i>
                    }
                </button>
        
            </form>
        }
    }





    

</section>